* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 60%;
}

.pointer {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.p-20 {
    padding: 93px 80px;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.img {
    width: 100%;
}

/* Upheader */

.upheader, header, .tagline-bottom, .tag-description, .adv button {
    font-family: "PT_Sans";
}

.upheader, .collection, .new-goods {
    background: #000;
}

.upheader {
    padding: 12px;
    font-size: 12px;
}

.upheader a {
    text-decoration: none;
}

.upheader-icon {
    margin-bottom: -2px;
}

header, .upheader, .upheader a {
    color: #969696;
}

nav, .container, .upheader__left, .upheader__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upheader__right-item:first-child {
    margin-right: 4px;
}

.upheader__left-item:not(:first-child) {
    margin: 0 8px;
}

/* Header */

header {
    background: #0f0f0f;
}

header .logo, .tagline {
    color: #fff;
    font-weight: bold;
    font-family: "Post_No_Bills_Jaffna";
}

header .logo {
    padding: 8px;
    font-size: 36px;
    margin-left: -1px;
}

nav {
    margin-right: -15px;
}

.nav-btn {
    padding: 20px;
}

.nav-btn:hover {
    color: #fff;
    background: #1F1F1F;;
}

/* main */

.main-img, .img {
    width: 100%;
    pointer-events: none;
}

.tagline {
    top: 40%;
    left: 50%;
    z-index: 5;
    padding: 75px;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
}

.tagline-logo {
    font-size: 64px;
    border-bottom: 2px solid #fff;
}

.tagline-bottom {
    margin-top: 6px;
    font-size: 26px;
}

.tag-description {
    top: 70%;
    left: 50%;
    width: 60%;
    color: #fff;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    transform: translate(-50%, 0);
}

/* collection */

.collection {
    display: flex;
    color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.col-md-5-5 {
    width: calc(100% / 12 * 5.5);
}

.col-md-6-5 {
    width: calc(100% / 12 * 6.5);
}

.item__container {
    padding: 50px 20px;
    background: #191B1C;
}

.collection h2,  .collection h3, .collection h4, .new-goods h1 {
    font-family: 'Playfair_Display';
}

.collection h2 {
    font-size: 36px;
    text-align: center;
}

.collection hr, .new-goods hr, .brands hr {
    margin: 40px auto;
    width: 120px;
}

.adv {
    top: 80%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.adv a, .old-adv a {
    font-size: 18px;
    border: 1px solid #fff;
}

.adv a {
    padding: 16px 32px;
}

.item h3:not(:last-child) {
    margin: 20px 0;
}

.old-adv {
    text-align: center;
}

.old-adv a {
    padding: 16px 48px;
}

.old-adv__description {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 80px;
}

/* new-goods */

.new-goods {
    color: #fff;
    padding: 120px 0;
}

.new-goods h1, .brands h1 {
    font-size: 36px;
    text-align: center;
}

.new-goods .item {
    margin-top: 40px;
}

/* brands */

.brands {
    color: #fff;
    padding: 60px 0 40px;
    background: #0F0F0F;
}