* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 60%;
}

.pointer {
    cursor: pointer;
}

/* Upheader */
.upheader, header {
    font-family: "PT_Sans";
}

.upheader {
    padding: 12px;
    font-size: 12px;
    background: #000;
}

.upheader a {
    text-decoration: none;
}

.upheader-icon {
    margin-bottom: -2px;
}

header, .upheader, .upheader a {
    color: #969696;
}

nav, .container, .upheader__left, .upheader__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upheader__right-item:first-child {
    margin-right: 4px;
}

.upheader__left-item:not(:first-child) {
    margin: 0 8px;
}

/* Header */

header {
    background: #0f0f0f;
}

header .logo {
    padding: 8px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin-left: -1px;
    font-family: "Post_No_Bills_Jaffna";
}

nav {
    margin-right: -15px;
}

.nav-btn {
    padding: 20px;
}

.nav-btn:hover {
    color: #fff;
    background: #1F1F1F;;
}