@font-face {
    font-family: "PT_Sans";
    src: url('../fonts/PT_Sans/PTSans-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PT_Sans";
    src: url('../fonts/PT_Sans/PTSans-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "PT_Sans";
    src: url('../fonts/PT_Sans/PTSans-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "PT_Sans";
    src: url('../fonts/PT_Sans/PTSans-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}